*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea/
out/

*.class
*.log
hs_err_pid*

.classpath
.project
.settings/
